header {
    margin-top: 20px;
    border-bottom: 1px solid wheat;
    padding-bottom: 10px;
}


.info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.info-bar__time{
    font-size: 12px;
    font-weight: bold;
}

.info-bar__icons img{
    width: 15px;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.menu-bar__location {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-left: 10px;
}

.menu-bar__location img{
    width: 15px;
}

.menu-bar__icons {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar__icons img{
    width: 25px;
    margin-right: 10px;
}

.menu-bar__icons img:nth-child(3){
    width:25px;
}

.menu-bar__icons div{
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 20px;
    position: relative;
    right: 15px;
    top:-10px
}